
.button-wrapper {
    border: 1px solid red;
    width:100%;
    /* padding-left: calc(100% - 280px); */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    float:right;
    margin-left:80%;
  }
.button{
    margin-left:85%;
}
  .button-image {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    padding:10px;
  }
  
  .bg-modal {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  .modal-content {
    position: relative;
    width: 350px;
    height: 420px;
    border-radius: 2%;
    text-align: center;
    padding: 20px;
    background-color: #212121;
    box-shadow: 0 0 5px 5px rgba(16,16,16,0.611765);;
  }
  
  .image-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .online-status {
    color: rgb(105, 105, 213);
    margin-top: -10px;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 40px;
    transform: rotate(45deg);
    color: #ffffff;
    cursor: pointer;
  }
  
  .icons_outer {
    position: relative;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
    margin-top: 10%;
  }
  
  .icon_inner {
    padding: 10px;
    margin-bottom: 5%;
  }
  
  .imgicon {
    width: 9%;
    height: 9%;
    border-radius: 50%;
    float: left;
  }
  
  .icon_text_left {
    margin-left: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125em;
    color: white;
    float: left;
  }
  
  .icon_text_right {
    margin-left: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125em;
    color: white;
    float: right;
  }
  
  .icon_inner:hover {
    transition: color 1s;
    background: rgba(43, 82, 120, 255);
    border-radius: 10px;
  }


/* .ptext{
    color:white;
    border: 1px solid white;
} */