.message-container {
  width: calc(100% - 10vw);
  max-width: 45.5rem;
  margin-bottom: 150px !important;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1rem 1rem 0 1.125rem;
}