.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  height: 20vh;
  margin-top: 5vh;
}

.sign-in {
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 4vh;
  margin-top: 10px;
  font-weight: 500;
  width: fit-content;
  color: #ffffff;
}

.subtitle,
.subtitle2 {
  font-weight: normal;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 2vh;
  width: 30vh;
  text-align: center;
  margin-top: 2vh;
  line-height: 130%;
}

.subtitle2 {
  margin-top: 4vh;
}

.info {
  color: rgb(144, 144, 144);
}

.sign-button,
.sign-up-button {
  height: 6vh;
  width: 44vh;
  border-radius: 1vh;
  background-color: rgb(73, 154, 234);
  border-style: hidden;
  font-size: 2vh;
  color: #ffffff;
  margin-top: 6vh;
  transition: all 0.3s linear;
}

.sign-up-button {
  margin-top: 3vh;
}

.sign-button:hover,
.sign-up-button:hover {
  background-color: rgb(42, 86, 181);
}

.phone-num,
.password {
  height: 6vh;
  width: 100%;
  border: 2px solid #adadad;
  border-radius: 1vh;
  margin-top: 4vh;
  transition: all 0.5s;
}

.phone-num:hover,
.password:hover {
  border-color: rgb(73, 154, 234);
}

.phone_num input,
.password input {
  height: 6vh;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 2vh;
  margin-left: 2vh;
  color: #ffffff;
}

.phone-num input ~ .label-login,
.password input ~ .label-login {
  position: absolute;
  color: #adadad;
  transform: translateY(-80%);
  pointer-events: none;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;
  margin-left: 2vh;
  transition: 0.2s ease all;
}

.phone-num input ~ .label-login {
  margin-block-start: -19px;
}

.password input ~ .label-login {
  margin-block-start: -19px;
}

.phone-num input:hover ~ .label-login {
  color: rgb(73, 154, 234);
}

.password input:hover ~ .label-login {
  color: rgb(73, 154, 234);
}

.phone-num input:focus ~ .label-login,
.phone-num input:valid ~ .label-login {
  color: rgb(73, 154, 234);
}

.password input:focus ~ .label-login,
.password input:valid ~ .label-login {
  color: rgb(73, 154, 234);
}
