header {
  height: 10vh;
  background-color: #212121;
  border-color: transparent;
  position: sticky;
  top: 0;
  padding: 1px 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: 0 0 10px 10px rgba(16, 16, 16, 0.611765);
  z-index: 2;
}

a {
  text-decoration: none;
}

.avatar {
  height: 7vh;
  border-radius: 50%;
  margin-right: 3vh;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4vh;
}

.user-name {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  font-weight: bold;
  color: #ffffff;
}

.status {
  margin-top: 1vh;
  font-family: 'Roboto', sans-serif;
  color: #aaaaaa;
}

.back-to-chats {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  width: fit-content;
}

.back-to-chats:hover {
  background-color: #aaaaaa14;
  border-radius: 20px;
}

.return-chats-text {
  font-family: 'Roboto', sans-serif;
  color: #aaaaaa;
  padding: 15px;
  margin: 0;
}
