header {
    height: 10vh;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    padding: 1px 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5%;
    border-bottom-color: rgb(132, 132, 132);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 2;
}

a {
    text-decoration: none;
}

.avatar {
    height: 7vh;
    border-radius: 50%;
    margin-right: 3vh;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4vh;
}

.user-name {
    font-family: "Roboto", sans-serif;
    font-size: large;
}

.return {
    margin-left: 3vh;
    font-family: "Roboto", sans-serif;
    color: rgb(52, 74, 129);
}

.status {
    margin-top: 1vh;
    font-family: "Roboto", sans-serif;
    color: rgb(124, 124, 124);
}


