

.message-context-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 120px;
    height: 130px;
    background-color: rgb(33,33,33);
    border-radius: 0.75rem;
}

.message-context-menu-button {
    display: flex;
    color: aliceblue;
    background-color: inherit;
    border-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    align-items: center;
    border-radius: 0.75rem;
    width: inherit;
    margin: 3px;
}

.message-context-menu-button:hover {
    background-color: black;
}

.icon {
    width: 17px;
    height: 17px;
    padding-right: 20px;
}