.message {
    display: flex;
    margin: 2px;
    width: fit-content;
    max-width: 25rem;
    min-width: 120px;
    align-items: flex-end;
    font-family: "Roboto", sans-serif;
    position: relative;
    box-sizing: border-box;
    word-wrap: break-word;
}

.in-message {
    background-color: aliceblue;
    border-radius: 0.75rem 0.75rem 0.75rem 0;
    color: black;
    margin-right: calc(100% - 100px);
}


.out-message {
    background-color: dodgerblue;
    border-radius: 0.75rem 0.75rem 0 0.75rem;
    color: aliceblue;
    margin-left: calc(100% - 100px);
}

.message-text-container {
    margin: 10px 10px 15px;
    word-wrap: break-word;
    overflow-x: hidden;
    padding-bottom: 5px;
    width: fit-content;
}

.message-time {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    bottom: 3px;
    font-size: 10px;
    align-items: center;
}

.message-tick-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
