.message {
  display: flex;
  margin: 4px 2px;
  width: fit-content;
  max-width: 25rem;
  min-width: 24%;
  align-items: flex-end;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  position: relative;
  box-sizing: border-box;
  word-wrap: break-word;
  color: #ffffff;
}

.in-message {
  background-color: #212121;
  border-radius: 0.75rem 0.75rem 0.75rem 0;
  margin-right: calc(100% - 100px);
  align-self: flex-start;
  box-shadow: 0 0 5px 5px rgba(16, 16, 16, 0.611765);
}

.out-message {
  background-color: #3390ec;
  border-radius: 0.75rem 0.75rem 0 0.75rem;
  margin-left: calc(100% - 100px);
  align-self: flex-end;
  box-shadow: 0 0 5px 5px rgba(16, 16, 16, 0.611765);
}

.message-text-container {
  margin: 10px 10px 20px;
  display: block;
  word-wrap: break-word;
  overflow-x: hidden;
  padding-bottom: 5px;
  width: fit-content;
}

.message-time {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  bottom: 3px;
  font-size: 12px;
  align-items: center;
  color: #686c72bf;
  font-family: 'Roboto', sans-serif;
}

.message-time-in {
  color: #686c72bf;
}

.message-time-out {
  color: #ffffff88;
}

.message-tick-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
